
@{
    ViewBag.Title = "Index";
}
<html>

<body>
    <h2>Index</h2>

    <ul>
        <li>
            <a href="http://localhost:62541/Scripts/app1/modules/Views/User.html">User Details</a>
        </li>
        <li>
            <a href="http://localhost:62541/Scripts/app1/modules/Views/Bus.html">Bus Details</a>
        </li>
        <li>
            <a href="http://localhost:62541/Scripts/app1/modules/Views/Route.html">Route Details</a>
        </li>
        
    </ul>
    
</body>
</html>
